* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: gilroy;
    src: url(./fonts-figz/gilroy-regular.ttf);
}
@font-face {
    font-family: gilroy-bold;
    src: url(./fonts-figz/gilroy-bold.ttf);
}

:root {
    font-size: 62.5%;

    font-family: gilroy, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    display: flex;
    flex-direction: column;
    background-color: #000;
    
}

#main {
    width: 100%;
}

.section {
    padding: calc(5rem + var(--header-height)) 0;
}

/* HEADER  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9.2rem;
    /* gap: 30rem; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(217, 217, 217, 0.00) 338.04%);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.menu ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}

.logo {
    width: 20rem;
    margin-right: 57rem;
}


/* FIRST  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 26.4rem; */
}

/* .section {
    margin-right: auto;
    margin-left: auto;
} */

.first-img {
    /* margin-top: 10rem; */
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

#first-section {
    margin-bottom: 20rem;
}

#first-section .text, #fourth-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: center;
    /* gap: 1.5rem; */

    margin-right: 68rem;
}

.title {
    width: 51.3rem;
    color: #fff;
    font-size: 6.5rem;
    font-weight: 800;
}

#first-section .title {
    z-index: 5;
    margin-top: -13rem;
    line-height: 123.5%;
    /* position: absolute; */
}

.paragraph {
    color: #fff;

    width: 51.3rem;
    font-size: 2.2rem;
}

#first-section .paragraph {
    margin-bottom: 2.3rem;
}


#first-section .link {
    /* display: flex; */
    text-decoration: none;
    line-height: 2.7rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 800;
    margin-right: 22rem;

    border-radius: 2.6rem;
    padding: 1.2rem 4.4rem;
    color: #000000;
    background: linear-gradient(90deg, #23DBB7 0%, #39F18F 100%);
}

/* SECOND ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  */

#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18rem 0;
    background: #0D0D0D;
}

#second-section .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#second-section .paragraph {
    width: 74.5rem;
    font-size: 2.2rem;
    margin: 2.3rem 0 0 0;
}

#second-section .cards {
    margin-top: 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.4rem;
}

.first-line, .second-line {
    display: flex;
    gap: 4.6rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26.2rem;
    height: 7.7rem;
    background: linear-gradient(90deg, #23DBB7 0%, #39F18F 100%);
    border-radius: 26px;
}

.card h1 {
    color: #000;
    /* padding: 2.5rem 8rem; */
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 123.5%; /* 27.17px */
}

/* THIRD ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#third-section {
    padding: 18rem 0 0 0;
    width: 100%;
    
}

#third-section .title, #third-section .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#third-section .title {
    margin-bottom: 2.2rem;
    width: 100%;
}

#third-section .paragraph {
    margin-bottom: 15rem;
    width: 100%;
}

#third-section .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    gap:50rem;
    margin-left: -3.5rem;
}

#third-section .cards .card {
    border-radius: 2.6rem;
    border: 1px solid #23DBB7;
    background: #232323;
    
}
#third-section .cards .card h1 {
    color: #23DBB7;
}

#third-section .first-line {
    margin-top: -6rem;
    z-index: 1;
}

#third-section .second-line {
    margin-top: -16rem;
    z-index: 2;
}

.circle {
    display: flex;
    justify-content: center;
    position: relative;
}

.grr, .ultima-onda {
    margin-top: 15rem;
}

.google-ads, .insights {
    margin-top: -15rem;

}


.first-circle {
    border-radius: 50% ;
    border: 7px solid #23DBB7;
    width: 53.2rem;
    height: 53.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-circle {
    border-radius: 50% ;
    border: 4.2rem solid rgba(35, 219, 183, 0.23);
    width: 50.8rem;
    height: 50.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-circle {
    border-radius: 50%;
    border: 16rem solid rgba(35, 219, 183, 0.07);
    width: 41rem;
    height: 41rem;
}

#third-section .secrets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
}


/* FOURTH ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */


#fourth-section {
    width: 100%;
    padding: 8rem 0;
}


#img-section-second .title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 189px;
    font-weight: 800;
    line-height: 103%; /* 194.67px */
    margin: 18rem 70rem 0 0;
}

#img-section {
    width: 100vw;
    height: 40rem;
    padding: 0 0 18rem;
    background: url(./assets/first-section.svg) no-repeat top center/cover ;
}

#img-section-second {
    width: 100vw;
    height: 40rem;
    padding: 0 0 18rem;
    background: url(./assets/fourth-section.svg) no-repeat top center/cover ;
}

#fourth-section .text {
    margin-left: 5rem ;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

#fourth-section .check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#fourth-section .link {
    text-decoration: none;
    line-height: 2.7rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 800;
    margin-right: 25rem;

    background: linear-gradient(90deg, #23DBB7 0%, #39F18F 100%);
    border-radius: 2.6rem;
    padding: 1.2rem 4.4rem;
    color: #000000;
    transition: all 1s ease;
}

#fourth-section .links {
    margin-top: 3.2rem;
}

#fourth-section .link:hover {
    background: linear-gradient(90deg, #39F18F 0% ,#23DBB7 100%);
    transition: all 1s ease;
}



/* FIFTH */

#fifth-section {
    width: 100%;
    padding: 18rem 0 0 0;
    display: flex;
    flex-direction: row;
}

#fifth-section .text {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;
}

#fifth-section .title {
    font-size: 13.7rem;
    font-weight: 800;
    line-height: 103%; /* 141.11px */
}

#fifth-section .paragraph {
    width: 100%;
    font-style: normal;
    line-height: 123.5%; /* 27.17px */
}

.fifth-content {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.fifth-img  {
    width: 100%;
}

#fifth-section .link {
    width: 100%;
    text-decoration: none;
    line-height: 2.7rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 800;

    /* margin-right: 25rem; */

    border-radius: 2.6rem;
    padding: 1.2rem 4.4rem;
    color: #000000;
    background: linear-gradient(90deg, #23DBB7 0%, #39F18F 100%);
    transition: background 1s ease-in-out;

}

#fifth-section .links {
    margin-top: 3.4rem;
}

#fifth-section .link:hover {
    background: linear-gradient(90deg, #39F18F 0% ,#23DBB7 100%);
}


/* SIXTH */


#sixth-section {
    height: 78rem;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#sixth-content {
    display: flex;
    flex-direction: row;
    /* width: 100%; */

}

.sixth-img {
    /* width: 100%; */
    width: 128rem;
    position: relative;
    margin-left: 134rem;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 18rem 0;
    margin-left: 72rem;
    position: absolute;
    z-index: 1;
}

#sixth-section .paragraph {
    color: #000;
    width: 58rem;
    font-size: 2.2rem;
    margin-top: 1rem;

}

#sixth-section details {
    font-size: clamp(1.5rem, 1vw, 2rem);

    display: flex;
    flex-direction: column;
    transition: all .5s;
    width: 80rem;

    cursor: pointer;
    color: black;
    transition: all .3s;
    border-bottom: 1px solid #B3B3B3 ;
    padding: 2rem 0;
}

#sixth-section summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 103%; /* 25.75px */
    color: black;
    width: 100%;
}

#sixth-section details>summary {
    list-style: none;
}

#sixth-section summary::after {
    content: url(./assets/plus-icon.svg);
    transition: all .5s ease-in-out;
}

#sixth-section details[open] summary::after {
    content: url(./assets/minus-icon.svg);
    transition: all .5s ease-in-out;
}

#sixth-section details.details {
    transition: all .5s ease-in-out;
    max-height: 10rem;
    overflow: hidden;
}

#sixth-section details[open].details{
    max-height: 100rem;
    overflow: hidden;
}

/* SEVENTH */

#seventh-section {
    width: 100%;
    padding: 18rem 0;
    display: flex;
    flex-direction: row;
}

.seventh-content {
    display: flex;
    flex-direction: row;
    gap: 30rem;
    align-items: center;
}

#seventh-section .link {
    width: 100%;
    text-decoration: none;
    line-height: 2.7rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 800;

    /* margin-right: 25rem; */

    border-radius: 2.6rem;
    padding: 1.2rem 4.4rem;
    color: #000000;
    background: linear-gradient(90deg, #23DBB7 0%, #39F18F 100%);
    transition: background 1s ease-in-out;

}

#seventh-section .paragraph {
    width: 18.7rem;
}

#seventh-section .links {
    margin-top: 3.4rem;
}

#seventh .text {
    gap: 2.3rem;
}

#seventh-section .link:hover {
    background: linear-gradient(90deg, #39F18F 0% ,#23DBB7 100%);
}

.square {
    margin-right: -70rem;
    width: 108.6rem;
    height: 37.8rem;
    background: linear-gradient(136deg, #23DBB7 23.43%, #39F18F 75.56%);
}

